.tooltip {
  display: none;
  position: relative;
  background-color: #ffa;
  border: 1px solid #cc9;
  padding: 3px;
  font-size: 13px;
  -moz-box-shadow: 2px 2px 11px #666;
  -webkit-box-shadow: 2px 2px 11px #666;
  width: 300px;
}

/* layout */
body {
  background-color: #99c;
}

#wrapper {
  width: 760px;
  margin: 0.5em auto;
  background-color: #eee;
  border: 1px solid #fff;
  padding: 5px;
}

#login h1 {
  text-align: center;
  margin-top: 0;
  color: #606;
}

#logout {
  margin-top: 0;
  text-align: center;
  font-size: 10pt;
  background-color: #dcdced;
}

#information {
  float: left;
  width: 170px;
  font-size: 10pt;
  background-color: #cdcded;
  padding: 0 3px;
  border: 1px solid #999;
}

#information h2 {
  font-size: 12pt;
  color: #606;
  text-align: center;
}

#upcoming {
  float: right;
  width: 170px;
  font-size: 10pt;
  background-color: #cdcded;
  padding: 0 3px;
  border: 1px solid #999;
}

#upcoming h2 {
  font-size: 12pt;
  color: #4c0066;
  text-align: center;
}

#upcoming h3 {
  font-size: 11pt;
  text-align: center;
  color: #330066;
}

#upcoming ul {
  padding-left: 17px;
}

#events {
  margin: 0 180px;
}

#events h2 {
  text-align: center;
  margin-top: 0;
}

#events table {
  border-spacing: 0;
  border: 1px solid #ccc;
  margin: 0 5px;
  width: 390px;
}

#events tr.even {
  background-color: #eddce4;
}

#events tr.odd {
  background-color: #dcede4;
}

#events tr.even:hover {
  background-color: #ca98b0;
}

#events tr.odd:hover {
  background-color: #98cab0;
}

#events .day {
  font-size: 10pt;
  text-align: right;
  padding-right: 5px;
}

.controls {
  text-align: center;
}

img {
  border: 0;
}

#new-event {
  display: none;
}

#footer {
  clear: both;
}

#subscribe {
  display: none;
  background-color: #ffc;
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#subscribelink {
  display: none;
}

#subscribe .close {
    position: absolute;
    top: -15px;
    right: -15px;
    background: url(close.png);
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#new-event {
  display: none;
  background-color: #ffc;
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#new-event .close {
    position: absolute;
    top: -15px;
    right: -15px;
    background: url(close.png);
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.ui-datepicker { z-index:9999; }

#rpxnow {
    text-align: center;
}

#rpxnow iframe {
    width: 310px;
    height: 150px;
    background-color: #fff;
    border: 1px solid black;
    padding: 1em;
}
